<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/board_form.css}" />
    <title>Document</title>
  </head>
  <body>
    <!-- layout tag : <main> tag  -->
    <main class="contain">
      <div th:replace="~{nav :: navigation}"></div>

      <!-- board_form page start -->
      <form class="board_form_contain" th:object="${boardForm}" th:action="@{/board/create}" method="post">
        <table class="detail-post-content-box">
          <tr class="detail-post-tr">
            <th class="detail-post-th">제목</th>
            <td class="detail-post-td">
              <input
                type="text"
                class="subject_input_style"
                th:field="*{subject}"
                placeholder="제목을 작성해주세요"
              />
            </td>
          </tr>

          <tr class="detail-post-tr">
            <th class="detail-post-th">첨부파일</th>
            <td class="detail-post-td">
              <input type="file" />
            </td>
          </tr>
        </table>

        <div class="detail-post-content">
          <textarea
            class="content_input_style"
            th:field="*{content}"
            placeholder="내용을 작성해주세요"
          ></textarea>
        </div>
        <div class="board_form_confirm_box">
          <input class="confirm_btn btn" type="submit" value="확인" />
          <a class="cancle_btn btn" th:href="@{/}">취소</a>
        </div>
      </form>
      <!-- board_form page end -->
    </main>
    <script th:src="@{/board_form.js}"></script>
  </body>
</html>
