<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/detail.css}" />
    <title>Document</title>
  </head>
  <body>
    <!-- layout tag : <main> tag  -->
    <main class="contain">
      <!-- navigation tag start -->
      <div th:replace="~{nav :: navigation}"></div>
      <!-- navigation tag end -->

      <!-- detail page start -->
      <div class="detail-contain">
        <table class="detail-post-content-box">
          <tr class="detail-post-tr">
            <th class="detail-post-th">제목</th>
            <td class="detail-post-td">[[${post.subject}]]</td>
          </tr>

          <tr class="detail-post-tr">
            <th class="detail-post-th">작성자</th>
            <td class="detail-post-td">[[${post.siteUser.username}]]</td>
          </tr>

          <tr class="detail-post-tr">
            <th class="detail-post-th detail-regDate-th">등록일자</th>
            <td
              class="detail-post-td detail-regDate-td detail-regDate-td-content"
            >
              [[${post.regDate}]]
            </td>
            <th class="detail-post-th detail-regDate-th">조회수</th>
            <td class="detail-post-td detail-regDate-td">[[${post.hit}]]</td>
          </tr>

          <tr class="detail-post-tr">
            <th class="detail-post-th">첨부파일</th>
            <td class="detail-post-td">test.txt, name.xel</td>
          </tr>
        </table>

        <div class="detail-post-content">[[${post.content}]]</div>

        <table class="next-prev-post-box">
          <tr>
            <th>이전글</th>
            <td th:if="${prevPost.id == null}">이전 게시글이 존재하지 않습니다.</td>
            <td th:unless="${prevPost.id == null}" ><b><a th:href="@{|/board/detail/${prevPost.id}|}">[[${prevPost.subject}]]</a></b></td>
          </tr>
          <tr>
            <th>다음글</th>
            <td th:if="${nextPost.id == null}">다음 게시글이 존재하지 않습니다.</td>
            <td th:unless="${nextPost.id == null}" ><b><a th:href="@{|/board/detail/${nextPost.id}|}">[[${nextPost.subject}]]</a></b></td>
          </tr>
        </table>

        <!-- comment -->
        <div class="comment-box">
          <form class="comment-form-box">
            <textarea
              class="comment-textarea"
              name="comment"
              id="comment"
            ></textarea>
            <input class="comment-confirm-btn" type="submit" value="확인" />
          </form>

          <table class="comment-table">
            <tr class="comment-th-box">
              <th class="comment-writer comment-th">작성자</th>
              <th class="comment-content comment-th">내용</th>
              <th class="comment-regDate comment-th">작성일</th>
            </tr>

            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <!-- 더미 데이터 -->
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <tr class="comment-tr-box">
              <td class="comment-writer comment-td">feisl42</td>
              <td class="comment-content comment-td comment-td-content">
                <span>글 잘보고 갑니다~~</span>
                <form>
                  <input type="submit" value="x" />
                </form>
              </td>
              <td class="comment-regDate comment-td">2023-03-21</td>
            </tr>
            <!-- 더미 데이터 -->
          </table>
        </div>
        <!-- comment pageNation start -->
        <div class="pageNation">
            <a class="prev-btn page-btn" href="#">이전</a>
            <ul class="page">
              <!-- th:each="c, loop : pageCount" -->
              <!-- loop.index + 1 -->
              <li class="page-number">
                <a class="page-number-link" href="#">1</a>
              </li>
              <li class="page-number">
                <a class="page-number-link" href="#">2</a>
              </li>
              <li class="page-number">
                <a class="page-number-link" href="#">3</a>
              </li>
            </ul>
            <a class="next-btn page-btn" href="#">다음</a>
          </div>
        </div>
        <!-- comment pageNation end -->
      </div>
      <!-- detail page end -->
    </main>
  </body>
</html>
