<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/list.css}" />
    <title>Document</title>
  </head>
  <body>
    <!-- layout tag : <main> tag  -->
    <main class="contain">
      <!-- navigation tag start -->
      <div th:replace="~{nav :: navigation}"></div>
      <!-- navigation tag end -->

      <!-- list page start -->
      <div class="list-contain">
        <form class="search-box" method="post">
          <select class="var-select">
            <option value="subject" selected>제목</option>
            <option value="writer">작성자</option>
          </select>
          <input class="sch-input" type="text" name="search" id="search" />
          <input
            class="sch-btn"
            type="submit"
            name="search-confirm"
            id="search-confirm"
            value="찾기"
          />
        </form>

        <table class="list-table">
          <thead class="list-table-thead">
            <tr class="list-tr title-tr">
              <th class="list-th number-th">번호</th>
              <th class="list-th title-th">제목</th>
              <th class="list-th writer-th">작성자</th>
              <th class="list-th regDate-th">등록일자</th>
              <th class="list-th hit-th">조회수</th>
            </tr>
          </thead>
          <tbody class="list-table-tbody">

          <tr th:each="post, loop : ${list}" class="list-tr content-tr">
              <td class="list-td number-td">[[${list.getTotalElements - (list.number * list.size) - loop.index}]]</td>
              <td class="list-td title-td">
                <a th:href="@{|/board/detail/${post.id}|}">[[${post.subject}]]</a>
              </td>
              <td class="list-td writer-td">[[${post.siteUser.username}]]</td>
              <td th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}" class="list-td regDate-td"></td>
              <td class="list-td hit-td">[[${post.hit}]]</td>
            </tr>

          </tbody>
        </table>

        <div class="under-box">
          <a class="reg-form-link" th:href="@{/board/create}">글 작성하기</a>
          <span class="all-post-count">전체 페이지 수 : [[${list.number + 1}]]/[[${list.totalPages}]]</span>
        </div>

        <!-- pageNation -->
        <div class="pageNation" th:if="${!list.isEmpty()}">
          <a th:classappend="${!list.hasPrevious} ? 'disabled'"
             class="prev-btn page-btn"
             th:href="@{|?page=${list.number-1}|}">
            이전
          </a>
          <ul class="page">

            <li
                    class="page-number"
                    th:each="page : ${#numbers.sequence(0, list.totalPages - 1)}"
                    th:classappend="${page == list.number} ? 'active'"
                    th:if="${page >= list.number - 5 and page <= list.number + 5}"
            >
              <a th:if="${page == list.number}" class="page-number-link active" th:href="@{|?page=${page}|}">[[${page + 1}]]</a>
              <a th:if="${page != list.number}" class="page-number-link" th:href="@{|?page=${page}|}">[[${page + 1}]]</a>
            </li>

          </ul>
          <a th:classappend="${!list.hasNext} ? 'disabled'" class="next-btn page-btn" th:href="@{|?page=${list.number + 1}|}">다음</a>
        </div>
      </div>
      <!-- list page end -->
    </main>
  </body>
</html>
